{% extends "@partials-layout/admin-layout.twig" %}
{% block content %}
    {% if plugin_aktiv %}
    <div class="pb-3 d-flex flex-wrap">
        <button data-type="load-default-security-header"
                class="sh-plugin-action btn btn-outline-secondary">
            <i class="bi bi-exclamation-triangle me-1"></i>
            {{ 'Restore default'|__ }}
        </button>
        <a href="https://webbkoll.dataskydd.net/de?url={{ site_url|url_encode }}" target="_blank" class="btn btn-success ms-auto my-1">
            <i class="bi bi-box-arrow-up-right me-1"></i> Test -> webkoll|dataskydd.net
        </a>
    </div>
    {{ include('@partials-loops/security-header-table-loop.twig') }}
    {% else %}
        <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh">
            <div class="alert alert-danger py-5">
                <h5><i class="bi bi-shield-slash fs-4 me-1"></i>
                    {{ 'Plugin has been disabled.'|__ }}
                    <span class="fw-normal"> {{ 'Contact the support.'|__ }}</span>
                </h5>
            </div>
        </div>
    {% endif %}
{% endblock %}

